.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
populacao/output/*
motorizacao/output/*
motorizacao/input/*
criar_conta.R
motorisation_base.csv
pnb/network/pbf*
datasus/output/obitos/final/*
pnb/dados/infra_cicloviaria/*
pnb/geofabrik/*
pnb/infra_ciclo/*
pnb/resultados/*
pnt/output/*
pnt/resultados/*
apoio/dados_setores.xlsx
apoio/dados_setores.rds
apoio/dados_setores.rar
apoioo/input_censo/*
otp/*
populacao/input/*
datasus/output/*
